.cocktail-form-container{
  display:flex;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  margin: 50px;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 150px;

}

.cocktail-form-card{
  display:block;
  justify-items: center;
  align-items: center;
  width: auto;
  height: 400px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 10px;
  margin: 50px;
  padding: 30px;
  background-size: cover;
  background-position: fill;
  color: white;
  .form-inputs{
    width: 200px;

  }
    h2{
    margin:20px;
    }
    a{
      text-decoration: none;
      color: white;

    }
    a:hover{
      opacity: 0.5;
    }
    .btn {
    margin: 20px;
    padding: 8px 24px;
    color: white;

    &:hover{
      opacity: 0.5;
    }
  }
}

.cocktail-form{
  display: flex;
  align-items: center;
  justify-content: center;

}

.cocktail-form-links{
  display:flex;
  justify-content: center;
  align-items: flex-end;
}


@media (max-width: 900px){
  .cocktail-form-container{
    margin: 50px;
    h2{
      margin: 10px;
    }
  }
}

@media (max-width: 500px){
  .cocktail-form-container{
    margin: 50px;
    h2 {
      margin: 10px;
      font-size: 26px;
    }
  }
}

@media (max-width: 300px){
 .cocktail-form-container{
  margin: 50px;
    h2 {
      margin: 20px;
      font-size: 20px;
    }
  }
}
