.dose-form-container{
  display:flex;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  margin: 50px;
}

.dose-form-card{
  display:block;
  justify-items: center;
  align-items: center;
  width: auto;
  height: 400px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  margin: 50px;
  padding: 30px;
  background-size: cover;
  background-position: fill;
  color: white;

    h2{
    margin:20px;
    }
    a{
      text-decoration: none;
      color: white;

    }
    a:hover{
      opacity: 0.5;
    }
    .btn {
    margin: 20px;
    padding: 8px 24px;
    color: white;

    &:hover{
      opacity: 0.5;
    }
  }
}

.dose-form{
  display: flex;
  align-items: center;
  justify-content: center;
}
