.banner {
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  margin-bottom: 40px;
  border-radius: 5px;
  text-align: center;
  width: auto;

}

.banner h1 {
  margin-bottom: 30px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 38px;
  font-weight: bold;
  text-align: center;
}

.banner p {
  font-size: 30px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner .btn {
      text-align: center;
      display: block;
      padding: 10px;
      color: white;
      font-size: 20px;
    &:hover{
      opacity: 0.6;

    }
    }


#banner-typed-text {
  padding: 10px;
  color: white;
  font-size: 20px;
  text-align: center;

}
