$off-white: #DBDBDB;

.show-card{
  background-size: cover;
  background-position: center;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
  padding-top: 30px;
  padding-bottom: 50px;
  margin-bottom: 30px;
  height:80%;
  width: auto;
  margin-top: 20px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 15px;
  box-shadow: 0 0 15px 0px rgba(0,0,0,0.2);
  color: white;
  border: 2px solid lightgrey;
  a{
    color: white;
  }

}
.show-card-container{

  // width: 600px;
  display: block;
  justify-content: center;
  padding: 20px;
  margin: 60px;
}

.show-card-banner{
  background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1));
  border-radius: 5px;
    h2{
      padding: 40px;
      margin-bottom: 50px;
      color: white;
      text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    }
}

.ingredient-container{
  display: flex;
  justify-content: center;
  margin-bottom: 200px;

  // align-items: flex-end;
  // padding-bottom: 200px;
}

.show-card-content{
  height: 100%;
  border-radius: 5px;
  // margin-bottom: 200px;


}



.show-card-links .btn{
      text-align: center;
      display: block;
      padding: 10px;
      color: white;
      font-size: 16px;
      // width: 20%;
      border-radius: 20px;
      margin: 10px;

      // border: 2px solid lightgrey;
    &:hover{
      opacity: 0.6;

    }
 }


// Media queries
@media (max-width: 900px){
  .show-card-container{
    grid-template-columns: 3fr 3fr 3fr 3fr;
    margin: 20px;

  }

}

@media (max-width: 500px){
  .show-card-container{
    grid-template-columns: 4fr 4fr 4fr;
    font-size: 20px;
    margin: 20px;


  }
}





